footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #6b7280;
  margin-top: auto;
}


.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.footer-icons .icon {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;

  justify-content: center;
  transition: background-color 0.3s, transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}


.footer-icons .icon img {
  width: 70%; 
  height: 70%;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
}


.footer-icons .icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

#GitHubNtnu, #GitHubPriv {
  margin-top: 0.6vh;
}

#mail:hover {
  background-color: #D44638; 
}

#linkedin:hover {
  background-color: #0A66C2; 
}


#GitHubPriv:hover, #GitHubNtnu:hover  {
  background-color: #6e5494;
}

#mail, #linkedin {
  width: 55px; 
  height: 55px;

}










